<div id="container" class="flex flex-wrap justify-center mt-4 mb-24 ml-8 mr-8">
  <div id="content" class="w-[35rem] mr-12 flex flex-col">
    <app-title title="Order Summary"></app-title>
    <div class="flex items-center justify-center">
      <div class="flex flex-col w-full">
        <div class="flex items-center gap-2">
          <p class="text-lg">Name:</p>
          <p>{{order.name}}</p>
        </div>
        <div class="flex items-center gap-2">
          <p class="text-lg">Address:</p>
          <p>{{order.address}}</p>
        </div>
      </div>
    </div>

    <order-item-list [order]="order"></order-item-list>
  </div>
  <div id="map" class="">
    <app-title title="Shipping Address" fontSize="1.6rem"></app-title>
    <map [order]="order" [reaOnly]="true"></map>
  </div>
  <div id="buttons-container" class="flex justify-center basis-full">
    <div id="buttons" class="m-4 w-[35rem]">
      <!-- <button class="text-white bg-[#e72929] w-full h-12 opacity-80 text-[1.3rem] border-none rounded-sm shadow-md hover:opacity-100 hover:cursor-pointer" (click)="createOrder()">Go To Payment</button> -->
    </div>
  </div>
</div>
