<header class="relative bg-white p-0 border-b-[1px] border-[#e72929]">
  <div id="container" class="my-0 mx-auto flex justify-between">
    <a class="text-[#af1313] hover:bg-[#e72929] hover:text-white cursor-pointer font-bold p-4" id="logo" routerLink="/">Food mine!</a>
    <nav>
      <ul class="m-0 flex">
        <li>
          <a class="text-[#af1313] hover:bg-[#e72929] hover:text-white cursor-pointer p-4 inline-block" routerLink="/login">Login</a>
        </li>
        <li id="menu-container" class="relative">
          <a class="text-[#af1313] hover:bg-[#e72929] hover:text-white cursor-pointer p-4 inline-block" routerLink="/dashboard">faiz</a>
          <div id="menu" class=" absolute z-10  top-0 h-14 w-16 hover:h-72 hover:w-fit overflow-hidden">
            <a class="text-[#af1313] hover:bg-[#e72929] hover:text-white cursor-pointer p-4 inline-block" routerLink="/dashboard">faiz</a>
            <div class="h-[2px]"></div>
            <a class="text-[#af1313] hover:bg-[#e72929] hover:text-white cursor-pointer p-4 inline-block min-w-[8rem] bg-slate-300" routerLink="/profile">Profile</a>
            <a class="text-[#af1313] hover:bg-[#e72929] hover:text-white cursor-pointer p-4 inline-block min-w-[8rem] bg-slate-300" routerLink="/orders">Orders</a>
            <a class="text-[#af1313] hover:bg-[#e72929] hover:text-white cursor-pointer p-4 inline-block min-w-[8rem] bg-slate-300" href="">Logout</a>
          </div>
        </li>
        <li>
          <a class="text-[#af1313] hover:bg-[#e72929] hover:text-white cursor-pointer p-4 inline-block z-50" routerLink="/cart-page">
            Cart <span class="bg-[#ff4d4d] text-white py-[0.1rem] px-[0.45rem] rounded-full text-[0.9rem]" *ngIf="cartQuntity">{{cartQuntity}} </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

