<!-- <div id="container" class="flex justify-center items-center h-full mt-12">
  <div id="detial" class="w-[28rem]">
    <app-title title="Login"></app-title>
    <form class="flex flex-col justify-center" [formGroup]="loginForm" (ngSubmit)="submit()">
      <div id="input-container" class="">
        <label for="">Email</label>
        <div class="">
          <input type="email" placeholder="Email" formControlName="email" />
        </div>
        <div *ngIf="fc['email'].errors && isSubmitted">
          <div *ngIf="fc['email'].errors['required']">Should not be empty</div>
          <div *ngIf="fc['email'].errors['email']">Email is not correct</div>
        </div>
      </div>
      <div id="input-container" class="">
        <label for="">Password</label>
        <div class="">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div *ngIf="fc['password'].errors && isSubmitted">
          <div *ngIf="fc['password'].errors['required']">Should not be empty</div>
        </div>
      </div>
      <div class="">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div> -->





<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> -->
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="submit()">
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
        <div class="mt-2">
          <input id="email" name="email" type="email" autocomplete="email" formControlName="email" required class="px-2 focus:outline-none block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#e72929] sm:text-sm sm:leading-6">
        </div>
        <div *ngIf="fc['email'].errors && isSubmitted">
          <div *ngIf="fc['email'].errors['required']" class="text-xs text-red-700 p-2">**Should not be empty**</div>
          <div *ngIf="fc['email'].errors['email']" class="text-xs text-red-700 p-2">**Email is not correct**</div>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-[#e72929]">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <input  formControlName="password" id="password" name="password" type="password" autocomplete="current-password" required class="px-2 focus:outline-none block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#e72929] sm:text-sm sm:leading-6">
        </div>
        <div *ngIf="fc['password'].errors && isSubmitted">
          <div *ngIf="fc['password'].errors['required']" class="text-xs text-red-700 p-2">**Should not be empty**</div>
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-[#e72929] px-3 py-1.5 text-sm font-semibold leading-6 text-white ">Log in</button>
      </div>
    </form>

    <!-- <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Start a 14 day free trial</a>
    </p> -->
  </div>
</div>
