<!-- <app-title title="Cart page" margin="1.5rem 0 0 2.5rem"></app-title>
<div id="container" class="flex flex-wrap items-start m-6 mt-2">
  <ul class="flex flex-col flex-[3,0] justify-evenly border-[1px] border-[#ffbbbb] rounded-2xl m-2 p-0">
    <li class="flex flex-wrap justify-around items-center border-b-[1px] border-[#e4e4e4]" *ngFor="let cartItem of cart.items">
      <div class="">
        <img src="{{ cartItem.food.imageUrl }}" alt="" />
      </div>
      <div class="">
        <a class="" routerLink="/food/{{ cartItem.food.id }}">
          {{ cartItem.food.name }}
        </a>
      </div>
      <div class="">
        <select
          #quantitySelect
          [value]="cartItem.quantity"
          (change)="changeQuantity(cartItem, quantitySelect.value)"
        >
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="">
        {{ cartItem.food.name }}
      </div>
      <div id="removeButton" class="">
        <button (click)="removeFromCart(cartItem)">remove</button>
      </div>
    </li>
  </ul>
  <div id="checkout" class="">
    <div class="">
      <div id="food-count" class="">{{cart.totalCount}}</div>
      <div id="total-price" class="">{{cart.totalPrice | currency}}</div>
    </div>
    <a routerLink="/checkout">Proceed to checkout</a>
  </div>
</div>
 -->

 <!-- <app-title title="Cart page" margin="1.5rem 0 0 2.5rem"></app-title> -->
 <app-not-found
 [visible]="!cart || !cart.items.length"
 notFoundMessage="Cart page is empty"
 resetLinkText="Go to homepage"
 ></app-not-found>
 <div class="container mx-auto mt-10" *ngIf="cart && cart.items.length">
  <div class="flex my-10 shadow-md">
    <div class="w-3/4 px-10 py-10 bg-white">
      <div class="flex justify-between pb-8 border-b">
        <h1 class="text-2xl font-semibold">Shopping Cart</h1>
        <h2 class="text-2xl font-semibold">{{cart.totalCount}} Items</h2>
      </div>
      <div class="flex mt-10 mb-5">
        <h3 class="w-2/5 text-xs font-semibold text-gray-600 uppercase">Product Details</h3>
        <h3 class="w-1/5 text-xs font-semibold text-center text-gray-600 uppercase">Quantity</h3>
        <h3 class="w-1/5 text-xs font-semibold text-center text-gray-600 uppercase">Price</h3>

      </div>
      <div class="flex items-center px-6 py-5 -mx-8 hover:bg-gray-100" *ngFor="let cartItem of cart.items">
        <div class="flex w-2/5" > <!-- product -->
          <div class="w-20">
            <img class="h-24" src="{{cartItem.food.imageUrl}}" alt="">
          </div>
          <div class="flex flex-col items-start justify-center flex-grow ml-4" routerLink="/food/{{cartItem.food.id}}">
            <span class="text-xl font-bold" >{{cartItem.food.name}}</span>
            <!-- <span class="text-xs text-red-500">Apple</span> -->
            <!-- <a href="#" class="text-xs font-semibold text-gray-500 hover:text-red-500">Remove</a> -->
          </div>
        </div>
        <div class="flex justify-center w-1/5"  >
      <select
      #quantitySelect
      [value]="cartItem.quantity"
      (change)="changeQuantity(cartItem, quantitySelect.value)"
    >
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
        </div>
        <span class="w-1/5 text-sm font-semibold text-center">{{cartItem.quantity*cartItem.food.price|currency}}</span>
        <button class="w-1/5 text-sm font-semibold text-center text-gray-500 hover:text-red-500" (click)="removeFromCart(cartItem)">Remove</button>
      </div>

      <a href="#" class="flex font-semibold text-[#e72929] text-sm mt-10">

        <svg class="fill-[#e72929] mr-2 text-indigo-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
        Continue Shopping
      </a>
    </div>

    <div id="summary" class="w-1/4 px-8 py-10">
      <h1 class="pb-8 text-2xl font-semibold border-b">Order Summary</h1>
      <div class="flex justify-between mt-10 mb-5">
        <span class="text-sm font-semibold uppercase">{{cart.totalCount}} Items</span>
        <!-- <span class="text-sm font-semibold">590$</span> -->
      </div>
        <div class="mt-8 border-t">
        <div class="flex justify-between py-6 text-sm font-semibold uppercase">
          <span>Total cost</span>
          <span>{{cart.totalPrice|currency}}</span>
        </div>
        <button class="bg-[#e72929] font-semibold py-3 text-sm text-white uppercase w-full" routerLink="/checkout" >Checkout</button>
      </div>
    </div>

  </div>
</div>
