
<div class="container mx-auto mt-10" >
  <div class="flex my-10 shadow-md">
    <div class="w-full px-10 py-10 bg-white">
      <div class="flex justify-between pb-8 border-b">
        <h1 class="text-2xl font-semibold">Order items :</h1>
      </div>
      <div class="flex mt-10 mb-5">
        <h3 class="w-2/5 text-xs font-semibold text-gray-600 uppercase">Product Details</h3>
        <h3 class="w-1/5 text-xs font-semibold text-center text-gray-600 uppercase">Price</h3>
        <h3 class="w-1/5 text-xs font-semibold text-center text-gray-600 uppercase">Quantity</h3>
        <h3 class="w-1/5 text-xs font-semibold text-center text-gray-600 uppercase">Total price</h3>


      </div>
      <div class="flex items-center px-6 py-5 -mx-8 hover:bg-gray-100" *ngFor="let item of order.items">
        <div class="flex w-2/5" > <!-- product -->
          <div class="w-20">
            <img class="h-20" src="{{item.food.imageUrl}}" alt="">
          </div>
          <div class="flex flex-col items-start justify-center flex-grow ml-4" routerLink="/food/{{item.food.id}}">
            <span class="text-base font-bold" >{{item.food.name}}</span>

          </div>
        </div>
        <span class="w-1/5 text-sm font-semibold text-center">{{item.food.price|currency}}</span>
        <div class="flex justify-center w-1/5"  >
    {{item.quantity}}
        </div>
        <div class="w-1/5 text-sm font-semibold text-center " >{{item.price |currency}}</div>
      </div>
    </div>

    <!-- <div id="summary" class="w-1/4 px-8 py-10">
      <h1 class="pb-8 text-2xl font-semibold border-b">Order Summary</h1>
      <div class="flex justify-between mt-10 mb-5">
        <span class="text-sm font-semibold uppercase">{{item.totalCount}} Items</span>
        <span class="text-sm font-semibold">590$</span> -->
      <!-- </div>
        <div class="mt-8 border-t">
        <div class="flex justify-between py-6 text-sm font-semibold uppercase">
          <span>Total cost</span>
          <span>{{cart.totalPrice|currency}}</span>
        </div>
        <button class="bg-[#e72929] font-semibold py-3 text-sm text-white uppercase w-full" routerLink="/checkout" >Checkout</button>
      </div>
    </div> -->

  </div>
</div>
